body {
	background: aliceblue;
	color: charcoal;
}
h1,h2 {
	color: rebeccapurple;
}
#flowerColor:hover {
	/* this gives people suggestion that color is editable when they hover over it */
	color: rebeccapurple;
}

.databaseField {
	text-decoration: underline;
}